h2, p, li, a, h4
{
    font-family: 'Ruda', sans-serif !important;
}

h2
{
    padding-top: 20px !important;
}

body
{
    background-image: url("../images/paper-2500942_1920.jpg");
    background-attachment: fixed;
}

/* HEADER ET FOOTER */


.div-header
{
    width: 100%;
    margin-bottom: 15px !important;
}

.nav-wrapper
{
    display: flex;

}

.nav-wrapper ul
{
    margin: auto;

}

.nav-wrapper li:hover
{
    background-color: #1976d2 !important;
}

.nav-wrapper li a
{
    transition: 0.2s;
}

.nav-wrapper li a:hover
{
    font-size: 1.4em;
}

.page-footer
{
    padding-top: 0 !important;
    margin-top: 50px;
}

.linkedin
{
    font-size: 1.2em !important;
    font-weight: bold;
}

/* SCROLLSPY */
.lien-scroll
{

}

/* CONTAINER */

.container
{
    min-width: 85% !important;
    max-width: 85% !important;
}

/* SECTION PRESENTATION */

.presentation
{
    min-width: 100%;
    min-height: 600px;

}

.hello-world
{
    padding-top: 5%;
    display: flex;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    color: #689f38;
    opacity: 0;

}

.hello-world h1
{
    margin: auto;
    font-size: 5em !important;
}

.block-nom-metier
{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.photo
{
    width: 0px;
    height: 0px;
}

.photo, .nom, .metier, .langage-web, .text-presentation
{
    font-size: 0em;
    opacity: 0;
}

.block-presentation
{
    opacity: 0;
}

.hr-presentation
{
    border-color: black;
    opacity: 0;
}

.class-thibaut li
{
    padding-left: 2%;
}

/* PAGE MON PARCOURS */

.date-formation
{
    font-style: italic;
}
 .description-formation
 {
     margin-top: 25px !important;
     margin-bottom: 25px;
     margin-left: 20%;
 }

 .description-formation li
 {
     margin-bottom: 15px;
     font-size: 1.1em;
 }

 .lien-formation
 {
     margin-top: 25px !important;
 }

 .six-projet
 {
     margin-left: 2% !important;
     margin-top: 10px !important;
 }

 .six-projet p
 {
     margin-bottom: 10px !important;
 }

 .description-emploi
 {
     margin-top: 25px !important;
     margin-bottom: 25px;
 }

 .description-emploi li
 {
     margin-bottom: 15px;
     font-size: 1.2em;
 }

 .lien-emploi
 {
     margin-top: 25px !important;
 }

 /* PAGE COMPETENCE */

.logo
{
    min-height: 170px;
    max-height: 170px;
}

.competence
{
    padding-left: 10px;
    padding-right: 10px;
}

#etoiles-sf, #etoiles-php, #etoiles-sql, #etoiles-html, #etoiles-boot, #etoiles-mat, #etoiles-js, #etoiles-jq, #etoiles-wp, #etoiles-gp, #etoiles-git, #etoiles-unit
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* PAGE REALISATIONS */


.collapsible-body
{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.collapsible-header h4
{
    font-size: 1.2em !important;
}

.image-collapse
{
    max-width:300px;
}

.text-collapse
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.div-modal
{
    margin-top: 3%;
    margin-left: 5% !important;
    max-width: 800px !important;
}

.div-screen-projet
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.screen-projet
{
    margin-bottom: 30px;
}

.screen-projet img
{
    width: 250px;
}

#modal1 p, #modal2 p, #modal3 p, #modal4 p, #modal5 p, #modal6 p
{
    margin-top: 20px;
    margin-bottom: 25px;
}

.contraintes
{
    margin-left: 5%;
    margin-bottom: 25px;
}

.contraintes li
{
    margin-bottom: 10px;
}

.plus-value
{
    font-weight: bold;
    font-size: 1.2em;
}

/* MAIS AUSSI */


.maisAussi-container p
{
    margin-bottom: 10px;
    font-size: 1.2em;
}

.maisAussi-container hr
{
    margin-bottom: 35px;
}

.maisAussi-container .row
{
    margin-bottom: 50px;
    padding-bottom: 50px;
}
/* CONTACT */


.contact-container
 {
    padding: 0 35px 35px;
 }
.details-contact p
{
    font-size: 1.3em;
    margin-top: 25px;
}

.dispo
{
    font-weight: bold;
}

