<div class="container contact-container light-green lighten-5 z-depth-2">
    <h2 class="light-green-text text-darken-2 center">Me contacter</h2>
    <hr>
    <div class="center details-contact">
        <p><i class="tiny material-icons">account_box</i> Thibaut Gruffy </p>
        <p><i class="tiny material-icons">home</i> Saint Jean d'Illac - 33127 </p>
        <p> <i class="tiny material-icons">phone</i> 06.98.21.71.53</p>
        <p><i class="tiny material-icons">mail</i> thibaut.gruffy@gmail.com</p>
        <p class="dispo"><i class="tiny material-icons">query_builder</i> Disponible à partir de fin août 2017</p>
    </div>
</div>

